html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #53527e;
}

body h1 h2 h3 {
  color: lightgray;
}

body p {
  color: lightgray;
}

.logo {
  padding-top: 5em;
}

.card {
  transition: transform 0.2s ease;
  box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
  border: 0;
  margin-bottom: 1.5em;
}
.card:hover {
  transform: scale(1.05);
  background-color: rgb(172, 224, 240);
}