@page
@model AccountsModel
@{
    ViewData["Title"] = "Your accounts at a glance";
}

<div class="card">
    <div class="card-body">
        <h3 class="card-title">Current account ...7844</h3>
        <div class="card-text">
            Available amount: <strong>$10,000,000</strong>
            <br/>
            <button type="button" class="btn btn-small btn-outline-success btn-rounded waves-effect">
                <i class="fas fa-cogs pr-2" aria-hidden="true"></i>
                    Details
            </button>
        </div>
    </div>
</div>
<div style="margin:30px"></div>
<div class="card">
    <div class="card-body">
        <h3 class="card-title">Savings account ...0065</h3>
        <div class="card-text">
            Available amount: <strong>$3,000,000</strong>
            <br/>
            <button type="button" class="btn btn-small btn-outline-success btn-rounded waves-effect">
                <i class="fas fa-cogs pr-2" aria-hidden="true"></i>
                    Details
            </button>
        </div>
    </div>
</div>
<div style="margin:30px"></div>
<div class="card">
    <div class="card-body">
        <h3 class="card-title">Master Card account ...1234</h3>
        <div class="card-text">
            Available credit: <strong>$100,000,000</strong>
            <br/>
            <button type="button" class="btn btn-small btn-outline-success btn-rounded waves-effect">
                <i class="fas fa-cogs pr-2" aria-hidden="true"></i>
                    Details
            </button>
        </div>
    </div>
</div>