@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="~/images/contoso_logo.jpg" title="Contoso Bank" alt="Contoso Bank logo" />
    </br>
    <p class="display-4">Your neighborhood friendly, </br> secure bank</p>
</div>
